#power-section {
  background-image: url("../../assets/img/professional-cleaning-service-person-using-vacuum-cleaner-office.webp");
  position: relative;
}

section#power-section::before {
  content: "";
  position: absolute;
  background: url(../../assets/img/slider-bubble.png) repeat-x;
  min-height: 42px;
  bottom: -2px;
  /* right: 0px; */
  z-index: 9;
  width: 100%;
}

#power-section h3 {
  white-space: break-spaces;
  color: #fff;
  margin-block: 25px;
}
